<div class="card__stats">
  <div class="card__stats-image card__stats-image_views"></div>
  <p class="card__stats-count">{{ statistics?.viewCount }}</p>
</div>
<div class="card__stats">
  <div class="card__stats-image card__stats-image_likes"></div>
  <p class="card__stats-count">{{ statistics?.likeCount }}</p>
</div>
<div class="card__stats">
  <div class="card__stats-image card__stats-image_dislikes"></div>
  <p class="card__stats-count">{{ statistics?.dislikeCount }}</p>
</div>
<div class="card__stats">
  <div class="card__stats-image card__stats-image_comments"></div>
  <p class="card__stats-count">{{ statistics?.commentCount }}</p>
</div>
