$button-main: #2f80ed;
$button-hover: #5ea2ff;
$button-inactive: #b1b1b1;
$background-grey: #e5e5e5;
$background-light: #efefef;
$background-main: #d4d4d4;
$white: #ffffff;
$grey: #929292;
$grey-dark: #4f4f4f;
$black: #000000;
$shadow-black: #00000040;
$green-main: #00ac00;
$green-hover: #75d675;
$red: #ff2c2c;
